# Python Basics Refresher

## Project Overview:
- **Skills Demonstrated**: Python syntax, loops, conditional statements, and functions.
- **Learnings**: Reviewed foundational Python concepts and wrote reusable scripts for common programming problems.

In this notebook, we'll refresh our knowledge of Python by revisiting basic concepts such as syntax, loops, conditional statements, and functions. We will also solve some common problems using Python scripts.

In [3]:
# This is a comment. Comments help explain your code but do not get executed.
# The print() function is used to display output on the screen.
print("Hello, Python Basics Refresher!")  # This will print the string inside the quotes to the console.

Hello, Python Basics Refresher!

In [4]:
# Defining variables with different data types
age = 25              # Integer
height = 5.9          # Float
name = "Alice"        # String
is_active = True      # Boolean

# Print the variables
print(f"Name: {name}, Age: {age}, Height: {height}, Active: {is_active}")

Name: Alice, Age: 25, Height: 5.9, Active: True

In this section, we defined variables of different types:
- **Integer**: Used to store whole numbers.
- **Float**: Used for decimal numbers.
- **String**: Used to store text or words.
- **Boolean**: Used to store `True` or `False` values.

We then printed these variables using formatted strings for clear output.

In [5]:
# Using a for loop to iterate over a list of numbers
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    print(f"Number: {num}")

Number: 1
Number: 2
Number: 3
Number: 4
Number: 5

In [6]:
# Using a while loop to count down from 5
count = 5
while count > 0:
    print(f"Countdown: {count}")
    count -= 1  # Decrease the count by 1

Countdown: 5
Countdown: 4
Countdown: 3
Countdown: 2
Countdown: 1

Loops are used to repeat a block of code multiple times:
- **For Loop**: Iterates over a collection (like a list) and executes the code for each item.
- **While Loop**: Continues to execute the code as long as a given condition is `True`.

We demonstrated both loops by iterating over a list of numbers and counting down from 5 using a `while` loop.

In [7]:
# Example: Check if a number is positive, negative, or zero
num = 7
if num > 0:
    print("Positive Number")
elif num < 0:
    print("Negative Number")
else:
    print("Zero")

Positive Number

# Example: Check if a number is positive, negative, or zero
num = 7
if num > 0:
    print("Positive Number")
elif num < 0:
    print("Negative Number")
else:
    print("Zero")

In [8]:
  # Defining a function to check if a number is even or odd
def check_even_odd(number):
    if number % 2 == 0:
        return "Even"
    else:
        return "Odd"

# Call the function with different values
result = check_even_odd(7)
print(f"7 is {result}")

result = check_even_odd(10)
print(f"10 is {result}")

7 is Odd
10 is Even

Functions allow us to create reusable code blocks that can be executed multiple times.
- We defined a function `check_even_odd()` that checks if a number is even or odd.
- The function is called with different values to demonstrate its reusability.

**Advanced Data Structures **

In [9]:
# Example of a list (ordered collection)
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")  # Add an item
fruits.remove("banana")  # Remove an item
print(f"Fruits List: {fruits}")

Fruits List: ['apple', 'cherry', 'orange']

In [10]:
# Example of a list (ordered collection)
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")  # Add an item
fruits.remove("banana")  # Remove an item
print(f"Fruits List: {fruits}")

Fruits List: ['apple', 'cherry', 'orange']

In [11]:
# Example of a tuple (immutable collection)
coordinates = (10, 20)
print(f"Coordinates: {coordinates}")

Coordinates: (10, 20)

In [12]:
# Example of a dictionary (key-value pairs)
student = {
    "name": "John",
    "age": 22,
    "courses": ["Math", "Physics"]
}
print(f"Student Name: {student['name']}, Courses: {student['courses']}")

Student Name: John, Courses: ['Math', 'Physics']

In [13]:
# Example of a set (unordered collection with unique elements)
unique_numbers = {1, 2, 3, 3, 2}
unique_numbers.add(4)  # Add an element
unique_numbers.remove(1)  # Remove an element
print(f"Unique Numbers Set: {unique_numbers}")

Unique Numbers Set: {2, 3, 4}

Here, we explored advanced data structures in Python:
- **Lists**: Ordered collections that can be modified (mutable).
- **Tuples**: Immutable collections that cannot be changed after creation.
- **Dictionaries**: Key-value pairs, useful for storing mappings.
- **Sets**: Unordered collections that do not allow duplicates.

We demonstrated basic operations on each data structure, such as adding, removing, and accessing elements.

List Comprehension

In [14]:
# List comprehension to generate squares of numbers
squares = [x**2 for x in range(1, 6)]
print(f"Squares: {squares}")

# Filtering even numbers using list comprehension
even_numbers = [x for x in range(1, 11) if x % 2 == 0]
print(f"Even Numbers: {even_numbers}")

Squares: [1, 4, 9, 16, 25]
Even Numbers: [2, 4, 6, 8, 10]

In [15]:
# Handling division by zero error using try-except
try:
    result = 10 / 0
except ZeroDivisionError:
    print("Error: Division by zero is not allowed.")
finally:
    print("Execution completed.")

Error: Division by zero is not allowed.
Execution completed.

In [16]:
  # Writing data to a file
with open("sample.txt", "w") as file:
    file.write("Hello, this is a test file.\n")
    file.write("Python File I/O operations are easy to use.")

# Reading data from the file
with open("sample.txt", "r") as file:
    content = file.read()
    print(f"File Content:\n{content}")

File Content:
Hello, this is a test file.
Python File I/O operations are easy to use.

## Conclusion:
In this notebook, we refreshed our knowledge on the following Python basics:
1. **Python Syntax**: Understanding how to print and use comments.
2. **Variables and Data Types**: Defining and using variables of different types.
3. **Loops**: Using `for` and `while` loops for iteration.
4. **Conditional Statements**: Writing `if`, `elif`, and `else` to control code flow.
5. **Functions**: Creating reusable functions to solve specific problems.

These concepts are the foundation of Python programming, and we practiced them by solving simple problems such as checking if a number is even or odd and printing information about variables.